@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(257, 40%, 49%);
  background-image: url(/images/bg-desktop.svg);
}
header {
  margin-top: 30px;
  margin-left: 50px;
}
.conteiner {
  margin: auto;
  margin-top: 50px;
  max-width: 1250px;
  display: flex;
}

.box {
  margin-top: 100px;
  margin-left: 100px;
  color: white;
}

.box p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 25px;
}


.box button {
  font-family: "Open Sans", sans-serif;
  padding:15px 35px;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 2px 5px 5px #333;
  color:#4F3AAF;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  
}

.attribution {
  font-size: 100px;
  text-align: center;
}
.attribution a {
  color: hsl(229, 10%, 44%);
}

.icons i.fab.fa-facebook-f {
  padding-left: 13px;
  padding-right: 13px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.icons i {
  margin-left: 10px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.icons i:hover {
  color: hsl(216, 40%, 54%);
}

@media (max-width: 750px) {
  .conteiner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .conteiner img {
    width: 400px;
  }
  .box {
    width: 400px;
    text-align: center;
    font-size: 15px;
  }
  .box p {
    max-width: 550px;
  }
  .icons {
    margin-top: 50px;
  }
}
